*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.formTitle{
    width: 90%;
    text-align: center;
    font-size: 1.5em;
    background-color: rgb(143, 250, 215);
    margin: 10px auto;
    height: fit-content;
}

.Outer{
    display: flex;
}

.form, .form_viewer{
    width: 400px;
    font-size: 1.2rem;
    height: 60%;
    margin: 20px auto;
    display: block;
    flex-direction: column;
    background: rgba(155, 247, 242,0.5);
    padding: 20px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgb(18, 246, 242);
    /* align-items: center; */
    /* margin: 0 auto; */
}

.form div, .form_viewer div{
    display: flex;
    margin: 20px auto;
    width: 80%;
}

.form div label, .form_viewer div label{
    width: 70%;
    height: 70%;
}

.form div input{
    /* transform: translateX(10%); */
    border: 2px solid grey;
    width: 50%;
    /* height: fit-content; */
    line-height: 10px;
    letter-spacing: 1px;
}

.submit{
    /* margin: 0 auto; */
    text-align: center;
    padding: 5px;
    background-color: rgb(93, 239, 253);
    font-weight: 600;
    /* color: white; */
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgb(6, 132, 128);
    transform: translateX(75%);
    width: 40%;
}
.form_viewer div label {
    height: 70%;
    width: 60%;
}

@media (max-width: 985px){
    .Outer{
        font-size: 15px;
        display: grid;
        grid-template-columns: auto;
    }
    .form{
        height: 85%;
    }
    .form_viewer{
        height: 85%;
    }
}

@media (max-width: 435px){
    .Outer{
        font-size: 15px;
    }
    .form, .form_viewer{
        width: 80%;
    }
}

@media (max-width: 390px){
    .Outer{
        font-size: 9px;
    }
    .form, .form_viewer{
        padding: 5px;
        font-size: 14px;
        height: 95%;
        width: 90%;
    }
}

